<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action_uri</key>
	<string>/api/v1/eventaction/?</string>
	<key>aggregate_uri</key>
	<string>/api/v1/eventactionaggregate/?</string>
	<key>base_category_uri</key>
	<string>/api/v1/category/?</string>
	<key>base_skip_url</key>
	<string>http://kwiqet.com:8000/tapi/v1/user/?</string>
	<key>base_url</key>
	<string>http://kwiqet.com</string>
	<key>base_url_local</key>
	<string>http://localhost:8000</string>
	<key>consumer_key</key>
	<string>rngQ5ZSe3FmzYJ3cgL</string>
	<key>consumer_secret</key>
	<string>7fb49b90f41a832f3d5cc12f1b9ed56795c5748a</string>
	<key>event_summary_uri</key>
	<string>/api/v1/eventsummary/?</string>
	<key>event_summary_search_uri</key>
	<string>/api/v1/eventsummary/search/?</string>
	<key>featured_uri</key>
	<string>/api/v1/event_featured/?</string>
	<key>forgot_password_uri</key>
	<string>/api/v1/passwordreset/?</string>
	<key>list_uri</key>
	<string>/api/v1/eventrecommendation/?</string>
	<key>login_uri</key>
	<string>/api/v1/login/?</string>
	<key>registration_uri</key>
	<string>/api/v1/registration/?</string>
	<key>search_url</key>
	<string>http://testsv.abextratech.com:8000/api/search/</string>
	<key>teaching_uri</key>
	<string>/api/v1/eventaction/?</string>
	<key>occurrence_uri</key>
	<string>/api/v1/occurrence_full/?</string>
	<key>filter_price_min_key</key>
	<string>price_min</string>
	<key>filter_price_max_key</key>
	<string>price_max</string>
</dict>
</plist>
